@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow: hidden;

  border: 1px solid red;
}
.main-container {
  display: grid;
  height: 100vh;
  width: 100vw;
}
.content-container1 {
  grid-row: 1/2;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.content-container1,
.content-container2 {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.container-left1,
.container-left2 {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container-left1 {
  height: 100vh;
  width: 100vw;

  grid-row: 1/2;
  grid-column: 1/2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d7b468;
}
.container-left1 > img {
  max-height: 550px;
  margin-bottom: 22rem;
}
.r1-content-text {
  grid-row: 1/2;
  grid-column: 1/2;

  align-self: flex-end;
  justify-self: center;

  text-align: justify;
  min-width: 300px;

  background-color: #fff1f1;

  text-align: start;
  margin: 5rem auto;
  padding: 1rem;

  border-radius: 20px;
  border: 2px solid #b4985a;
}

.header-text {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin: 1.5rem;
}

.subtext {
  font-size: 1.05rem;
  margin: -1rem auto 1.25rem 1.7rem;
}
.r1-content-top {
  background-color: #ebd7be;
  border-radius: 15px 15px 0px 0px;
}
.r1-content-top > p {
  font-size: 0.9rem;
  margin: auto 1.5rem;
}
.r1-content-top > p:last-of-type {
  padding-bottom: 1.5rem;
}
.r1-content-bot {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 1em;
  background-color: #faebd7;
  border-radius: 0px 0px 15px 15px;
}
.r1-content-bot > img {
  height: 60px;
  width: 50px;
}
.r1-content-bot > p {
  margin-right: -1rem;
}

.content-container2 {
  grid-row: 2/3;
  display: none;
}

.container-left2 {
  background-color: #59a566;
}
@media only screen and (min-width: 1200px) {
  .content-container1 {
    grid-template-columns: 600px 1fr;
  }
  .container-left1 {
    width: 100%;
  }
  .container-left1 > img {
    max-height: 650px;
    margin-bottom: initial;
  }
  .r1-content-text {
    grid-row: 1/2;
    grid-column: 2/3;

    align-self: center;

    min-width: 700px;
  }
  .header-text {
    font-size: 7.5rem;
  }
  .subtext {
    font-size: 2.25rem;
    margin: -2rem auto 4rem 1.7rem;
  }

  .r1-content-top > p {
    font-size: 1.5rem;
  }

  .r1-content-bot {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 320px) {
  .container-left1 > img {
    max-height: 450px;
    margin-bottom: initial;
  }
}
/*@media (orientation: landscape) {
  .content-container1 {
    place-items: initial;
  }
  .container-left1 {
    justify-content: flex-start;
  }
  .container-left1 > img {
    margin-left: 10rem;
    margin-bottom: 0;
    height: 400px;
  }
  .r1-content-text {
    grid-column: 1/2;
    align-self: center;
    justify-self: flex-end;
    margin: initial;
    margin-right: 5rem;
  }
}
*/
